/* ID styles */
/* Style for sign in form */
#sign-in {
    height: 30%;
    width: 60%;
    min-height: 250px;
    min-width: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

/* Style for sign in form's "Remember Me" toggle */
#remember-span {
    width: 100%;
    min-width: inherit;
    display: flex;
    justify-content: flex-start;
}

/* Styling for certain links on login box */
#forgot-password, .sign-up-link {
    text-decoration: none;
}


/* Class Styles */
/* Style for login box, a flex container for its items */
.login-box {
    width: 25%;
    height: 30%;
    min-height: 300px;
    min-width: 300px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    padding: 3.25em 0 3.25em 0;
    box-shadow: 0 0px 10px 3px #9c9c9c;
    opacity: 0.9;
}

/* Style for parent flexbox container for login box */
.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family:'Work Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Styles for the login box's "header" element (not an HTML header) and its children elements */
.sign-in-header {
    font-family: 'Noto Sans Tagbanwa', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 80%;
    margin: 1em 0 1em 0;
}

.sign-in-header h1, .sign-in-header p {
    margin: 0.3em 0 0.3em 0;
}

.sign-in-header span {
    color: #808080;
}


/* Base HTML Element Styles */
/* Body Style (What changes the background to an animated gif) */
body {
    min-height: 100vh;
    background-image: url("./sakura-petals-falling.gif");
    background-position: top;
    background-size: cover;
    margin: 0 auto;
}

/* Input Styles */
input[type="text"], input[type="password"] {
    width: 100%;
    min-width: inherit;
    border-width: 0 0 0.15em 0;
    padding: .5em 0 .5em 0;
    font-size: 1em;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
    color: #707070;
}

input[type="text"]:hover, input[type="password"]:hover {
    border-color: #bbbbbb;
}

input[type="checkbox"]:hover, label:hover {
    cursor: pointer;
}

/* Button Styles */
button {
    width: 100%;
    min-width: inherit;
    font-family: inherit;
    color: #1d1d1d;
    background-color: #f8aac4;
    border: none;
    border-radius: 2em;
    font-size: 1.1em;
    padding: .5em 0 .5em 0;
    box-shadow: 0 5px 12px -1px #bbb9bb;
}

button:hover {
    cursor: pointer;
    background-color: #ffc7da;
}

